:root {
  --default-color-one: #a0906b;
  --default-color-two: #bda778;
  --fsz-for-link-text: adaptiveSize(0.9, 1.55);
}

h1 {
  font-size: clamp(2.18rem, 29.856px + 1.57vw, 3.75rem);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.81rem, 25.76px + 1vw, 2.81rem);
}

h3 {
  font-size: clamp(1.5rem, 22.208px + 0.56vw, 2.06rem);
}

h4 {
  font-size: clamp(1.12rem, 15.712px + 0.69vw, 1.81rem);
}

p {
  font-size: clamp(0.9rem, 11.744px + 0.83vw, 1.73rem);
  line-height: 1.5;
}

a {
  font-size: clamp(0.9rem, 12.48px + 0.6vw, 1.5rem);
}