@mixin customButton($width, $heigth, $min-height) {
    height: clamp($min-height, $heigth, 65px);
    width: clamp(130px, $width, 280px);
    background-color: var(--default-color-two);
    border: none;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        margin: 0;
        padding: 0;
        z-index: 2;
        position: relative;
        top: 0;
        left: 0;
        transition: all 0.4s ease-in-out;
        color: black;
        font-size: var(--fsz-for-link-text);
    }

    span {
        position: absolute;
        top: 0;
        left: -3px;
        width: 0;
        height: 100%;
        background-color: black;
        z-index: 1;
        transition: all 0.4s ease-in-out;
    }

    &:hover {
        cursor: pointer;

        p {
            color: var(--default-color-two);
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
}

@mixin productCard() {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hidden {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    img {
        width: clamp(130px, 90%, 350px);
        height: auto;
        margin: 0 auto;
        filter: drop-shadow(-4px 6px 4px var(--default-color-one));
    }

    .product-card_text-part {
        width: 100%;
        text-align: center;
        margin: 0 auto 20px auto;

        h4 {
            color: var(--default-color-one);
            font-weight: 500;
            margin-bottom: 10px;
        }

        p {
            font-weight: 400;
        }
    }

    a {
        margin-top: auto;
        @include customButton(90%, 3.5vw, 32px);
    }
}

@mixin styleForNavLink {
    a {
        position: relative;
        display: inline-block;
        top: 0;
        color: white;
        font-weight: 600;
        font-size: var(--fsz-for-link-text);
        transition: all 0.5s;
    }
}

@mixin headerStyle {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: clamp(60px, 9svw, 80px);
    background-color: #a0906b;
    z-index: 100;

    .header-content {
        display: flex;
        align-items: center;
        align-content: center;
        margin: 0 auto;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 87%;
        height: 100%;

        .header-logotypy {
            width: clamp(45px, 4%, 60px);
            aspect-ratio: 1 / 1;
            display: block;
        }

        .header-content_navigate-links {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: auto;
            height: 100%;
            gap: clamp(18px, 3vw, 50px);

            .navigate-links_item {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                @include styleForNavLink;

                &::after {
                    content: "";
                    position: relative;
                    left: 0;
                    top: 5px;
                    display: block;
                    margin-top: 4px;
                    width: 0;
                    height: 2px;
                    background-color: white;
                    transition: all 0.5s;
                }

                &:hover {
                    a {
                        top: -5px;
                    }

                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        .header-content_social-media-list {
            width: 9.5%;
            display: flex;
            justify-content: center;
            gap: clamp(15px, 3vw, 25px);

            img {
                width: clamp(25px, 25%, 45px);
                aspect-ratio: 1 / 1;
            }
        }

        .header-content_menu-burger {
            display: none;
            width: 6%;
            min-width: 40px;
            cursor: pointer;

            span {
                position: relative;
                background-color: white;
                height: 2.5px;
                width: 100%;
                margin-bottom: 10px;
                transition: all 0.4s;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            &.open-menu span {
                &:nth-child(1) {
                    rotate: 44deg;
                    top: 15px;
                }

                &:nth-child(2) {
                    opacity: 0;
                    visibility: hidden;
                }

                &:nth-child(3) {
                    rotate: -44deg;
                    bottom: 11px;
                }
            }
        }

        .header-content_content-open-menu-burger {
            width: 100%;
            display: none;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #796a47;
            padding: clamp(25px, 5svh, 45px) 0;
            margin: 0 auto;
            z-index: 100;
            transition: all 0.4s;

            &.show {
                opacity: 1;
                visibility: visible;
            }

            .header-content_navigate-links {
                display: none;

                .navigate-links_item {
                    position: relative;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    @include styleForNavLink;

                    &::after {
                        content: "";
                        position: relative;
                        left: 0;
                        top: 5px;
                        display: block;
                        margin-top: 4px;
                        width: 0;
                        height: 2px;
                        background-color: white;
                        transition: all 0.5s;
                    }

                    &:hover {
                        a {
                            top: -5px;
                        }

                        &::after {
                            width: 100%;
                        }
                    }
                }
            }

            .header-content_social-media-list {
                display: none;
            }
        }

        .social-media-list_logo {
            width: 20%;
            max-width: 90px;
            aspect-ratio: 1 / 1;
            transition: all 0.4s;

            &:hover {
                scale: 1.2;
                cursor: pointer;
            }
        }
    }

    @media (max-width: 740px) {
        .header-content {
            display: flex;
            align-items: center;

            .header-content_navigate-links {
                display: none;
            }

            .header-content_social-media-list {
                display: none;
            }

            .header-content_menu-burger {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .header-content_content-open-menu-burger {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: clamp(13px, 5vh, 30px);

                .header-content_navigate-links {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: clamp(18px, 2vw, 40px);
                    text-align: center;
                }

                .header-content_social-media-list {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

@mixin footerStyle {
    width: 100vw;
    height: auto;
    background-color: #a0906b;
    display: flex;
    align-items: start;
    padding: clamp(30px, 7vw, 80px);
    gap: clamp(25px, 8vw, 90px);

    .footer_logo {
        width: clamp(50px, 15%, 120px);
        aspect-ratio: 1 / 1;
    }

    .footer_text-content {
        color: white;
        display: flex;
        align-items: start;
        gap: clamp(25px, 4vw, 70px);

        .text-content_links-navigation {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: clamp(15px, 2vw, 30px);
            @include styleForNavLink;
        }

        .text-content_our-data {
            margin: 0;
            padding: 0;

            li {
                font-size: var(--fsz-for-link-text);
                font-weight: 500;
                margin-bottom: 17px;
            }
        }
    }

    @media (max-width: 830px) {
        .footer_logo {
            display: none;
        }
    }

    @media (max-width: 630px) {
        .footer_text-content {
            flex-direction: column;
        }
    }
}