@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --default-color-one: #a0906b;
  --default-color-two: #bda778;
  --fsz-for-link-text: clamp(0.9rem, 0.80rem + 0.47vw, 1.37rem);
}

* {
  padding: 0;
  margin: 0;
  background: 0;
}

*,
*::before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  width: 100%;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  flex: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  transition: all 0.4s;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
}

h1 {
  font-size: clamp(2.18rem, 1.87rem + 1.56vw, 3.75rem);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.81rem, 1.61rem + 1vw, 2.81rem);
}

h3 {
  font-size: clamp(1.5rem, 1.38rem + 0.56vw, 2.06rem);
}

h4 {
  font-size: clamp(1.12rem, 0.98rem + 0.68vw, 1.81rem);
}

p {
  font-size: clamp(0.9rem, 0.73rem + 0.85vw, 1.75rem);
  line-height: 1.5;
}