@use './mixins/mixins.scss' as *;
@use './utils/helperFunctions.scss' as *;

header {
    @include headerStyle;
}

.social-project {
    width: 85%;
    margin: 0 auto;
    padding: adaptiveSize(1.56, 3.12) 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: adaptiveSize(1.87, 6.25);

    .social-project_present-text {
        width: 100%;
        display: inline-block;

        h1 {
            color: var(--default-color-one);
            margin-bottom: adaptiveSize(0.93, 1.87);
        }
    }

    .social-project_info-card {
        h2 {
            font-weight: 600;
            color: var(--default-color-one);
            margin-bottom: adaptiveSize(0.93, 1.87);
        }

        ul {
            li {
                font-size: adaptiveSize(0.9rem, 1.75rem);
                line-height: 1.5;
            }
        }
    }

    .social-project_supportive-words {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: adaptiveSize(1.75, 3.12);

        h4 {
            display: inline-block;
            width: 45%;
            line-height: 1.5;

            span {
                font-weight: 600;
                color: var(--default-color-one);
            }
        }

        img {
            width: 45%;
            min-width: 200px;
            aspect-ratio: 1 / 1;
        }
    }
}

footer {
    @include footerStyle;
}

@media (max-width: 640px) {
    .social-project {
        .social-project_supportive-words {
            flex-direction: column;

            p {
                width: 100%;
            }
        }
    }
}