@use './mixins/mixins.scss' as *;
@use './utils/helperFunctions.scss' as *;

header {
  @include headerStyle;
}

main {
  background-color: #f1ebdc;

  .main_present-block {
    position: relative;
    background-color: #f1dbad;
    width: 100vw;
    height: clamp(300px, 80vh, 800px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;

    .present-block_text-part {
      position: relative;
      display: inline-block;
      z-index: 10;
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: saturate(180%) blur(3px);
      border-radius: 20px;
      padding: adaptiveSize(1.25, 7.5);
      margin-left: adaptiveSize(1.87, 7.5);
      color: white;
      width: 50%;
      max-width: 1000px;

      h1 {
        margin-bottom: adaptiveSize(1.25, 1.87);
      }

      h4 {
        line-height: 1.5;
      }
    }

    .present-block_decorative-block {
      position: absolute;
      left: 0;
      display: block;
      width: 90%;
      min-width: 900px;
      animation: rotateElipse 15s linear infinite;
      z-index: 1;
    }
  }

  .main_product-assortment {
    padding: adaptiveSize(1.56, 7.18) 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-weight: 500;
      text-align: center;
      display: inline-block;
      color: var(--default-color-one);
      text-align: center;
    }

    .product-assortment_products {
      width: 100%;
      max-width: 2280px;
      margin: adaptiveSize(1.56, 4.3) auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: adaptiveSize(1.25, 2.5) adaptiveSize(1.87, 7.5);

      .products_product-card {
        @include productCard;
        margin: 0 auto;
      }
    }
  }

  .main_scroll-to-top {
    width: adaptiveSize(3.1, 5.31);
    height: adaptiveSize(3.1, 5.31);
    position: fixed;
    bottom: 0;
    right: 5%;
    border-radius: 50%;
    background-color: white;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-out, bottom 0.4s ease-out;
    cursor: pointer;

    &.visible {
      opacity: 1;
      bottom: 10%;
      pointer-events: auto;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}

footer {
  @include footerStyle;
}

@keyframes rotateElipse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1630px) {
  main {
    .main_present-block {
      .present-block_decorative-block {
        .cat-for-menu-presentBlock {
          width: 100%;
          left: 100px;
        }
      }
    }
  }
}

@media (max-width: 1225px) {
  main {
    .main_product-assortment {
      .product-assortment_products {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
      }
    }
  }
}

@media (max-width: 1170px) {
  main {
    .main_present-block {
      .present-block_text-part {
        width: 65%;
      }

      .present-block_decorative-block {
        width: 100%;
        left: 50%;
      }
    }
  }
}

@media (max-width: 770px) {
  main {
    .main_product-assortment {
      .product-assortment_products {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
      }
    }
  }
}

@media (max-width: 650px) {
  main {
    .main_present-block {
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .present-block_text-part {
        width: 85%;
        margin-left: 0;
      }

      .present-block_decorative-block {
        position: absolute;
        left: 0;
        top: 30%;
        min-width: 950px;
      }
    }
  }
}

@media (max-width: 455px) {
  main {
    .main_product-assortment {
      width: 93%;

      .product-assortment_products {
        column-gap: 12px;
        grid-template-columns: repeat(2, minmax(130px, 1fr));
      }
    }
  }
}

@media (max-width: 355px) {
  main {
    .main_product-assortment {
      .product-assortment_products {
        .products_product-card {
          h4 {
            font-size: 14px;
          }

          p {
            font-size: 12px;
          }

          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}