header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: clamp(60px, 9svw, 80px);
  background-color: #a0906b;
  z-index: 100;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 87%;
  height: 100%;
}
header .header-content .header-logotypy {
  width: clamp(45px, 4%, 60px);
  aspect-ratio: 1/1;
  display: block;
}
header .header-content .navigate-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: clamp(18px, 3vw, 50px);
}
header .header-content .navigate-links .navigate-links_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
header .header-content .navigate-links .navigate-links_item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .navigate-links .navigate-links_item p {
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  position: relative;
  top: 0;
  font-size: var(--fsz-for-link-text);
}
header .header-content .navigate-links .navigate-links_item:hover p {
  top: -5px;
}
header .header-content .navigate-links .navigate-links_item:hover::before {
  width: 100%;
}
header .header-content .header-content_social-media-list {
  width: 9.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(15px, 3vw, 25px);
}
header .header-content .header-content_social-media-list img {
  width: clamp(25px, 25%, 45px);
  aspect-ratio: 1/1;
}
header .header-content .header-content_menu-burger {
  display: none;
  width: 6%;
  min-width: 40px;
  cursor: pointer;
}
header .header-content .header-content_menu-burger span {
  position: relative;
  background-color: white;
  height: 2.5px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_menu-burger span:last-child {
  margin-bottom: 0;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(1) {
  rotate: 44deg;
  top: 15px;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(3) {
  rotate: -44deg;
  bottom: 11px;
}
header .header-content .header-content_content-open-menu-burger {
  width: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #796a47;
  padding: clamp(25px, 5svh, 45px) 0;
  margin: 0 auto;
  z-index: 100;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_content-open-menu-burger.show {
  opacity: 1;
  visibility: visible;
}
header .header-content .social-media-list_logo {
  width: 20%;
  max-width: 90px;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .social-media-list_logo:hover {
  scale: 1.2;
  cursor: pointer;
}
@media (max-width: 740px) {
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content .navigate-links {
    display: none;
  }
  header .header-content .header-content_social-media-list {
    display: none;
  }
  header .header-content .header-content_menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-content .header-content_content-open-menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: clamp(13px, 5vh, 30px);
  }
  header .header-content .header-content_content-open-menu-burger .navigate-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: clamp(18px, 2vw, 40px);
    text-align: center;
  }
  header .header-content .header-content_content-open-menu-burger .header-content_social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main {
  background-color: #f1ebdc;
}
main .main_present-block {
  position: relative;
  background-color: #f1dbad;
  width: 100vw;
  height: clamp(300px, 80vh, 800px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
main .main_present-block .present-block_text-part {
  position: relative;
  display: inline-block;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(180%) blur(3px);
  border-radius: 20px;
  padding: clamp(1.25rem, 0px + 6.25vw, 7.5rem);
  margin-left: clamp(1.87rem, 11.904px + 5.63vw, 7.5rem);
  color: white;
  width: 50%;
  max-width: 1000px;
}
main .main_present-block .present-block_text-part h1 {
  margin-bottom: clamp(1.25rem, 18.016px + 0.62vw, 1.87rem);
}
main .main_present-block .present-block_text-part h4 {
  line-height: 1.5;
}
main .main_present-block .present-block_decorative-block {
  position: absolute;
  left: 0;
  display: block;
  width: 90%;
  min-width: 900px;
  -webkit-animation: rotateElipse 15s linear infinite;
          animation: rotateElipse 15s linear infinite;
  z-index: 1;
}
main .main_product-assortment {
  padding: clamp(1.56rem, 6.976px + 5.62vw, 7.18rem) 0;
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main_product-assortment h2 {
  font-weight: 500;
  text-align: center;
  display: inline-block;
  color: var(--default-color-one);
  text-align: center;
}
main .main_product-assortment .product-assortment_products {
  width: 100%;
  max-width: 2280px;
  margin: clamp(1.56rem, 16.192px + 2.74vw, 4.3rem) auto;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: clamp(1.25rem, 16px + 1.25vw, 2.5rem) clamp(1.87rem, 11.904px + 5.63vw, 7.5rem);
}
main .main_product-assortment .product-assortment_products .products_product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main_product-assortment .product-assortment_products .products_product-card.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
main .main_product-assortment .product-assortment_products .products_product-card img {
  width: clamp(130px, 90%, 350px);
  height: auto;
  margin: 0 auto;
  -webkit-filter: drop-shadow(-4px 6px 4px var(--default-color-one));
          filter: drop-shadow(-4px 6px 4px var(--default-color-one));
}
main .main_product-assortment .product-assortment_products .products_product-card .product-card_text-part {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px auto;
}
main .main_product-assortment .product-assortment_products .products_product-card .product-card_text-part h4 {
  color: var(--default-color-one);
  font-weight: 500;
  margin-bottom: 10px;
}
main .main_product-assortment .product-assortment_products .products_product-card .product-card_text-part p {
  font-weight: 400;
}
main .main_product-assortment .product-assortment_products .products_product-card a {
  margin-top: auto;
  height: clamp(32px, 3.5vw, 65px);
  width: clamp(130px, 90%, 280px);
  background-color: var(--default-color-two);
  border: none;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main_product-assortment .product-assortment_products .products_product-card a p {
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: black;
  font-size: clamp(1rem, 14.72px + 0.4vw, 1.4rem);
}
main .main_product-assortment .product-assortment_products .products_product-card a span {
  position: absolute;
  top: 0;
  left: -3px;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
main .main_product-assortment .product-assortment_products .products_product-card a:hover {
  cursor: pointer;
}
main .main_product-assortment .product-assortment_products .products_product-card a:hover p {
  color: var(--default-color-two);
}
main .main_product-assortment .product-assortment_products .products_product-card a:hover span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main .main_product-assortment .product-assortment_products .products_product-card {
  margin: 0 auto;
}
main .main_scroll-to-top {
  width: clamp(3.1rem, 42.528px + 2.21vw, 5.31rem);
  height: clamp(3.1rem, 42.528px + 2.21vw, 5.31rem);
  position: fixed;
  bottom: 0;
  right: 5%;
  border-radius: 50%;
  background-color: white;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.4s ease-out, bottom 0.4s ease-out;
  transition: opacity 0.4s ease-out, bottom 0.4s ease-out;
  cursor: pointer;
}
main .main_scroll-to-top.visible {
  opacity: 1;
  bottom: 10%;
  pointer-events: auto;
}
main .main_scroll-to-top img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100vw;
  height: auto;
  background-color: #a0906b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: clamp(1.87rem, 19.904px + 3.13vw, 5rem);
  gap: clamp(1.56rem, 12.032px + 4.04vw, 5.6rem);
}
footer .footer_text-content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(1.56rem, 15.968px + 2.81vw, 4.37rem);
}
footer .footer_text-content .text-content_links-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(0.93rem, 12.096px + 0.87vw, 1.8rem);
}
footer .footer_text-content .text-content_links-navigation a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .footer_text-content .text-content_our-data {
  margin: 0;
  padding: 0;
}
footer .footer_text-content .text-content_our-data li {
  font-size: clamp(0.9rem, 12.48px + 0.6vw, 1.5rem);
  font-weight: 500;
  margin-bottom: 17px;
}
footer .footer_map {
  width: 45%;
  height: clamp(220px, 25vw, 350px);
  display: block;
  border-radius: 10px;
}
@media (max-width: 1132px) {
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 890px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  footer .footer_text-content {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_map {
    width: 100%;
    border-radius: 0;
  }
}

@-webkit-keyframes rotateElipse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateElipse {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (max-width: 1630px) {
  main .main_present-block .present-block_decorative-block .cat-for-menu-presentBlock {
    width: 100%;
    left: 100px;
  }
}
@media (max-width: 1225px) {
  main .main_product-assortment .product-assortment_products {
    -ms-grid-columns: (minmax(180px, 1fr))[3];
    grid-template-columns: repeat(3, minmax(180px, 1fr));
  }
}
@media (max-width: 1170px) {
  main .main_present-block .present-block_text-part {
    width: 65%;
  }
  main .main_present-block .present-block_decorative-block {
    width: 100%;
    left: 50%;
  }
}
@media (max-width: 770px) {
  main .main_product-assortment .product-assortment_products {
    -ms-grid-columns: (minmax(180px, 1fr))[2];
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
}
@media (max-width: 650px) {
  main .main_present-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main_present-block .present-block_text-part {
    width: 85%;
    margin-left: 0;
  }
  main .main_present-block .present-block_decorative-block {
    position: absolute;
    left: 0;
    top: 30%;
    min-width: 950px;
  }
}
@media (max-width: 455px) {
  main .main_product-assortment {
    width: 93%;
  }
  main .main_product-assortment .product-assortment_products {
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
    -ms-grid-columns: minmax(130px, 1fr) 12px minmax(130px, 1fr);
    grid-template-columns: repeat(2, minmax(130px, 1fr));
  }
}
@media (max-width: 355px) {
  main .main_product-assortment .product-assortment_products .products_product-card h4 {
    font-size: 14px;
  }
  main .main_product-assortment .product-assortment_products .products_product-card p {
    font-size: 12px;
  }
  main .main_product-assortment .product-assortment_products .products_product-card a {
    font-size: 12px;
  }
}