header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: clamp(60px, 9svw, 80px);
  background-color: #a0906b;
  z-index: 100;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 87%;
  height: 100%;
}
header .header-content .header-logotypy {
  width: clamp(45px, 4%, 60px);
  aspect-ratio: 1/1;
  display: block;
}
header .header-content .header-content_navigate-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: 100%;
  gap: clamp(18px, 3vw, 50px);
}
header .header-content .header-content_navigate-links .navigate-links_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header-content .header-content_navigate-links .navigate-links_item a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  font-weight: 600;
  font-size: var(--fsz-for-link-text);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_navigate-links .navigate-links_item::after {
  content: "";
  position: relative;
  left: 0;
  top: 5px;
  display: block;
  margin-top: 4px;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_navigate-links .navigate-links_item:hover a {
  top: -5px;
}
header .header-content .header-content_navigate-links .navigate-links_item:hover::after {
  width: 100%;
}
header .header-content .header-content_social-media-list {
  width: 9.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(15px, 3vw, 25px);
}
header .header-content .header-content_social-media-list img {
  width: clamp(25px, 25%, 45px);
  aspect-ratio: 1/1;
}
header .header-content .header-content_menu-burger {
  display: none;
  width: 6%;
  min-width: 40px;
  cursor: pointer;
}
header .header-content .header-content_menu-burger span {
  position: relative;
  background-color: white;
  height: 2.5px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_menu-burger span:last-child {
  margin-bottom: 0;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(1) {
  rotate: 44deg;
  top: 15px;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(3) {
  rotate: -44deg;
  bottom: 11px;
}
header .header-content .header-content_content-open-menu-burger {
  width: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #796a47;
  padding: clamp(25px, 5svh, 45px) 0;
  margin: 0 auto;
  z-index: 100;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_content-open-menu-burger.show {
  opacity: 1;
  visibility: visible;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links {
  display: none;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  font-weight: 600;
  font-size: var(--fsz-for-link-text);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item::after {
  content: "";
  position: relative;
  left: 0;
  top: 5px;
  display: block;
  margin-top: 4px;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item:hover a {
  top: -5px;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item:hover::after {
  width: 100%;
}
header .header-content .header-content_content-open-menu-burger .header-content_social-media-list {
  display: none;
}
header .header-content .social-media-list_logo {
  width: 20%;
  max-width: 90px;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .social-media-list_logo:hover {
  scale: 1.2;
  cursor: pointer;
}
@media (max-width: 740px) {
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content .header-content_navigate-links {
    display: none;
  }
  header .header-content .header-content_social-media-list {
    display: none;
  }
  header .header-content .header-content_menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-content .header-content_content-open-menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: clamp(13px, 5vh, 30px);
  }
  header .header-content .header-content_content-open-menu-burger .header-content_navigate-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: clamp(18px, 2vw, 40px);
    text-align: center;
  }
  header .header-content .header-content_content-open-menu-burger .header-content_social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main {
  min-height: 100vh;
}
main .main_present-block {
  width: 100%;
  height: clamp(500px, 80svh, 650px);
  position: relative;
  top: 0;
  left: 0;
}
main .main_present-block .swiper {
  width: 100%;
  height: 100%;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide {
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: relative;
  padding-left: clamp(25px, 3%, 70px);
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide:nth-child(1) .slide_present-photo {
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../imgs/present-photo-1.webp");
  background-position: center;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_present-photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  width: clamp(300px, 55%, 1176px);
  height: 80%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: saturate(180%) blur(2px);
  border-radius: 20px;
  padding: clamp(20px, 3vw, 50px);
  gap: clamp(20px, 6svh, 40px);
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part h1 span {
  font-weight: 700;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part h3 {
  line-height: 1.3;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part h3 span {
  font-weight: 600;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part .text-part_navigate-to-menu {
  height: clamp(50px, 6vw, 65px);
  width: clamp(130px, 37%, 280px);
  background-color: var(--default-color-two);
  border: none;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part .text-part_navigate-to-menu p {
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: black;
  font-size: var(--fsz-for-link-text);
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part .text-part_navigate-to-menu span {
  position: absolute;
  top: 0;
  left: -3px;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part .text-part_navigate-to-menu:hover {
  cursor: pointer;
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part .text-part_navigate-to-menu:hover p {
  color: var(--default-color-two);
}
main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part .text-part_navigate-to-menu:hover span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main .main_about-products {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
main .main_about-products .about-products_text-part {
  padding: clamp(25px, 4vh, 45px);
  width: 60%;
}
main .main_about-products .about-products_text-part h2 {
  font-weight: 600;
  margin-bottom: clamp(13px, 3vh, 35px);
}
main .main_about-products .about-products_text-part p {
  display: inline-block;
  width: 90%;
}
main .main_about-products .about-products_decoration-part {
  position: relative;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  margin-top: auto;
}
main .main_about-products .about-products_decoration-part .decoration-part_decoration-img {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
main .main_about-products .about-products_decoration-part .decoration-part_img-for-animation {
  width: clamp(80px, 10%, 180px);
  scale: 0.7;
  aspect-ratio: 1/1;
  position: absolute;
  top: 50%;
  left: 70%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  -webkit-animation: pulseHeart 1.3s ease infinite;
          animation: pulseHeart 1.3s ease infinite;
}
@-webkit-keyframes pulseHeart {
  0% {
    scale: 0.7;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.7;
  }
}
@keyframes pulseHeart {
  0% {
    scale: 0.7;
  }
  50% {
    scale: 1;
  }
  100% {
    scale: 0.7;
  }
}
main .main_our-menu {
  background-color: #f1dbad;
  width: 100%;
  height: auto;
  padding: 70px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
}
main .main_our-menu .our-menu_decoration-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}
main .main_our-menu .our-menu_decoration-block img {
  width: 20%;
  max-width: 100px;
  min-width: 40px;
  height: auto;
}
main .main_our-menu .our-menu_decoration-block img:nth-child(odd) {
  position: relative;
  top: -7px;
  left: 0;
}
main .main_our-menu .our-menu_decoration-block img:nth-child(even) {
  position: relative;
  top: 10px;
  left: 0;
}
main .main_our-menu .our-menu_text-part {
  display: inline-block;
  text-align: center;
  width: 90%;
}
main .main_our-menu .our-menu_text-part h2 {
  font-weight: 700;
  line-height: 1.5;
  color: var(--default-color-one);
}
main .main_our-menu .our-menu_products-list {
  max-width: 1542px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: clamp(25px, 2vw, 40px);
  margin: clamp(20px, 0.71rem + 2.68vw, 50px);
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
main .main_our-menu .our-menu_products-list.show {
  opacity: 1;
}
main .main_our-menu .our-menu_products-list.show .products-list_product-card {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
main .main_our-menu .our-menu_products-list.show .products-list_product-card:nth-child(2) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
main .main_our-menu .our-menu_products-list.show .products-list_product-card:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
main .main_our-menu .our-menu_products-list.show .products-list_product-card:nth-child(4) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
main .main_our-menu .our-menu_products-list .products-list_product-card {
  position: relative;
  -webkit-transform: translateY(-180px);
          transform: translateY(-180px);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  min-width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main_our-menu .our-menu_products-list .products-list_product-card.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}
main .main_our-menu .our-menu_products-list .products-list_product-card img {
  width: clamp(130px, 90%, 350px);
  height: auto;
  margin: 0 auto;
  -webkit-filter: drop-shadow(-4px 6px 4px var(--default-color-one));
          filter: drop-shadow(-4px 6px 4px var(--default-color-one));
}
main .main_our-menu .our-menu_products-list .products-list_product-card .product-card_text-part {
  width: 100%;
  text-align: center;
  margin: 0 auto 20px auto;
}
main .main_our-menu .our-menu_products-list .products-list_product-card .product-card_text-part h4 {
  color: var(--default-color-one);
  font-weight: 500;
  margin-bottom: 10px;
}
main .main_our-menu .our-menu_products-list .products-list_product-card .product-card_text-part p {
  font-weight: 400;
}
main .main_our-menu .our-menu_products-list .products-list_product-card a {
  margin-top: auto;
  height: clamp(32px, 3.5vw, 65px);
  width: clamp(130px, 90%, 280px);
  background-color: var(--default-color-two);
  border: none;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .main_our-menu .our-menu_products-list .products-list_product-card a p {
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: black;
  font-size: var(--fsz-for-link-text);
}
main .main_our-menu .our-menu_products-list .products-list_product-card a span {
  position: absolute;
  top: 0;
  left: -3px;
  width: 0;
  height: 100%;
  background-color: black;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
main .main_our-menu .our-menu_products-list .products-list_product-card a:hover {
  cursor: pointer;
}
main .main_our-menu .our-menu_products-list .products-list_product-card a:hover p {
  color: var(--default-color-two);
}
main .main_our-menu .our-menu_products-list .products-list_product-card a:hover span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
main .main_our-advantages {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: clamp(25px, 3.5vh, 65px) 0;
}
main .main_our-advantages .our-advantages_decoration-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
main .main_our-advantages .our-advantages_decoration-block .question-png {
  position: relative;
}
main .main_our-advantages .our-advantages_decoration-block .question-png:nth-child(1) {
  width: 10%;
  height: 100%;
  rotate: -50deg;
}
main .main_our-advantages .our-advantages_decoration-block .question-png:nth-child(3) {
  width: 12%;
  aspect-ratio: 1/1;
}
main .main_our-advantages .our-advantages_decoration-block .phg-cat-for-advantages {
  width: clamp(200px, 40%, 300px);
  height: 100%;
}
main .main_our-advantages h2 {
  font-weight: 600;
  color: var(--default-color-one);
}
main .main_our-advantages .our-advantages_list-of-reasons {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: clamp(40px, 4vw, 60px);
  width: 80%;
  height: auto;
  margin: clamp(25px, 4svh, 80px) auto;
}
main .main_our-advantages .our-advantages_list-of-reasons .list-of-reasons_elem {
  text-align: center;
}
main .main_our-advantages .our-advantages_list-of-reasons .list-of-reasons_elem .icon_reasons {
  width: clamp(100px, 25%, 180px);
}
main .main_our-advantages .our-advantages_list-of-reasons .list-of-reasons_elem h3 {
  font-weight: 600;
  margin-bottom: 15px;
}

footer {
  width: 100vw;
  height: auto;
  background-color: #a0906b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: clamp(30px, 7vw, 80px);
  gap: clamp(25px, 8vw, 90px);
}
footer .footer_logo {
  width: clamp(50px, 15%, 120px);
  aspect-ratio: 1/1;
}
footer .footer_text-content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(25px, 4vw, 70px);
}
footer .footer_text-content .text-content_links-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(15px, 2vw, 30px);
}
footer .footer_text-content .text-content_links-navigation a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  font-weight: 600;
  font-size: var(--fsz-for-link-text);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .footer_text-content .text-content_our-data {
  margin: 0;
  padding: 0;
}
footer .footer_text-content .text-content_our-data li {
  font-size: var(--fsz-for-link-text);
  font-weight: 500;
  margin-bottom: 17px;
}
@media (max-width: 830px) {
  footer .footer_logo {
    display: none;
  }
}
@media (max-width: 630px) {
  footer .footer_text-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1380px) {
  main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part {
    width: 80%;
  }
  main .main_about-products .about-products_decoration-part {
    width: 40%;
  }
}
@media (max-width: 1180px) {
  main .main_about-products .about-products_decoration-part {
    display: none;
  }
  main .main_about-products .about-products_text-part {
    width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 950px) {
  main .main_present-block .swiper .swiper-wrapper .swiper-slide {
    padding: 0;
  }
  main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 900px) {
  main .main_our-advantages .our-advantages_list-of-reasons .list-of-reasons_elem .icon_reasons {
    width: 100px;
  }
}
@media (max-width: 600px) {
  main .main_about-products .about-products_text-part {
    width: 100%;
  }
}
@media (max-width: 440px) {
  main .main_present-block .swiper .swiper-wrapper .swiper-slide .slide_text-part {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  main .main_about-products .about-products_text-part p {
    width: 100%;
  }
  main .main_our-advantages .our-advantages_list-of-reasons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main_our-advantages .our-advantages_list-of-reasons .list-of-reasons_elem {
    width: 100%;
  }
}