header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: clamp(60px, 9svw, 80px);
  background-color: #a0906b;
  z-index: 100;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 87%;
  height: 100%;
}
header .header-content .header-logotypy {
  width: clamp(45px, 4%, 60px);
  aspect-ratio: 1/1;
  display: block;
}
header .header-content .header-content_navigate-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: 100%;
  gap: clamp(18px, 3vw, 50px);
}
header .header-content .header-content_navigate-links .navigate-links_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header-content .header-content_navigate-links .navigate-links_item a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  font-weight: 600;
  font-size: var(--fsz-for-link-text);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_navigate-links .navigate-links_item::after {
  content: "";
  position: relative;
  left: 0;
  top: 5px;
  display: block;
  margin-top: 4px;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_navigate-links .navigate-links_item:hover a {
  top: -5px;
}
header .header-content .header-content_navigate-links .navigate-links_item:hover::after {
  width: 100%;
}
header .header-content .header-content_social-media-list {
  width: 9.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(15px, 3vw, 25px);
}
header .header-content .header-content_social-media-list img {
  width: clamp(25px, 25%, 45px);
  aspect-ratio: 1/1;
}
header .header-content .header-content_menu-burger {
  display: none;
  width: 6%;
  min-width: 40px;
  cursor: pointer;
}
header .header-content .header-content_menu-burger span {
  position: relative;
  background-color: white;
  height: 2.5px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_menu-burger span:last-child {
  margin-bottom: 0;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(1) {
  rotate: 44deg;
  top: 15px;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(3) {
  rotate: -44deg;
  bottom: 11px;
}
header .header-content .header-content_content-open-menu-burger {
  width: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #796a47;
  padding: clamp(25px, 5svh, 45px) 0;
  margin: 0 auto;
  z-index: 100;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_content-open-menu-burger.show {
  opacity: 1;
  visibility: visible;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links {
  display: none;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  font-weight: 600;
  font-size: var(--fsz-for-link-text);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item::after {
  content: "";
  position: relative;
  left: 0;
  top: 5px;
  display: block;
  margin-top: 4px;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item:hover a {
  top: -5px;
}
header .header-content .header-content_content-open-menu-burger .header-content_navigate-links .navigate-links_item:hover::after {
  width: 100%;
}
header .header-content .header-content_content-open-menu-burger .header-content_social-media-list {
  display: none;
}
header .header-content .social-media-list_logo {
  width: 20%;
  max-width: 90px;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .social-media-list_logo:hover {
  scale: 1.2;
  cursor: pointer;
}
@media (max-width: 740px) {
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content .header-content_navigate-links {
    display: none;
  }
  header .header-content .header-content_social-media-list {
    display: none;
  }
  header .header-content .header-content_menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-content .header-content_content-open-menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: clamp(13px, 5vh, 30px);
  }
  header .header-content .header-content_content-open-menu-burger .header-content_navigate-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: clamp(18px, 2vw, 40px);
    text-align: center;
  }
  header .header-content .header-content_content-open-menu-burger .header-content_social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-project {
  width: 85%;
  margin: 0 auto;
  padding: clamp(25px, 4vw, 50px) 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(30px, 6vw, 100px);
}
.social-project .social-project_present-text {
  width: 100%;
  display: inline-block;
}
.social-project .social-project_present-text h1 {
  color: var(--default-color-one);
  margin-bottom: clamp(15px, 3vw, 30px);
}
.social-project .social-project_info-card h2 {
  font-weight: 600;
  color: var(--default-color-one);
  margin-bottom: clamp(15px, 3vw, 30px);
}
.social-project .social-project_info-card ul li {
  font-size: clamp(0.9rem, 0.73rem + 0.85vw, 1.75rem);
  line-height: 1.5;
}
.social-project .social-project_supportive-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(28px, 3vw, 50px);
}
.social-project .social-project_supportive-words p {
  display: inline-block;
  width: 45%;
  line-height: 1.5;
}
.social-project .social-project_supportive-words p span {
  font-weight: 600;
  color: var(--default-color-one);
}
.social-project .social-project_supportive-words img {
  width: 45%;
  min-width: 200px;
  aspect-ratio: 1/1;
}

footer {
  width: 100vw;
  height: auto;
  background-color: #a0906b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: clamp(30px, 7vw, 80px);
  gap: clamp(25px, 8vw, 90px);
}
footer .footer_logo {
  width: clamp(50px, 15%, 120px);
  aspect-ratio: 1/1;
}
footer .footer_text-content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(25px, 4vw, 70px);
}
footer .footer_text-content .text-content_links-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(15px, 2vw, 30px);
}
footer .footer_text-content .text-content_links-navigation a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  font-weight: 600;
  font-size: var(--fsz-for-link-text);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .footer_text-content .text-content_our-data {
  margin: 0;
  padding: 0;
}
footer .footer_text-content .text-content_our-data li {
  font-size: var(--fsz-for-link-text);
  font-weight: 500;
  margin-bottom: 17px;
}
@media (max-width: 830px) {
  footer .footer_logo {
    display: none;
  }
}
@media (max-width: 630px) {
  footer .footer_text-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 640px) {
  .social-project .social-project_supportive-words {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-project .social-project_supportive-words p {
    width: 100%;
  }
}