@use './mixins/mixins.scss' as *;
@use './utils/helperFunctions.scss' as *;

header {
  @include headerStyle;
}

main {
  min-height: 100vh;

  .main_present-block {
    width: 100%;
    height: clamp(500px, 80svh, 650px);
    position: relative;
    top: 0;
    left: 0;

    .swiper {
      width: 100%;
      height: 100%;

      .swiper-wrapper {

        .swiper-slide {
          width: 100%;
          max-height: 100%;
          display: flex;
          align-items: center;
          justify-content: left;
          position: relative;
          padding-left: clamp(25px, 3%, 70px);

          &:nth-child(1) {
            .slide_present-photo {
              object-fit: cover;
              background: url("../imgs/present-photo-1.webp");
              background-position: center;
            }
          }

          .slide_present-photo {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .slide_text-part {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            color: white;
            width: clamp(300px, 55%, 1176px);
            height: 80%;
            z-index: 100;
            background-color: rgba(0, 0, 0, 0.2);
            backdrop-filter: saturate(180%) blur(2px);
            border-radius: 20px;
            padding: clamp(20px, 3vw, 50px);
            gap: clamp(20px, 6svh, 40px);

            h1 {
              span {
                font-weight: 700;
              }
            }

            h3 {
              line-height: 1.3;

              span {
                font-weight: 600;
              }
            }

            .text-part_navigate-to-menu {
              @include customButton(37%, 200px, 6vw, 50px);
            }
          }
        }
      }
    }
  }

  .main_about-products {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    .about-products_text-part {
      padding: adaptiveSize(1.7, 2.81);
      width: 60%;

      h2 {
        font-weight: 600;
        margin-bottom: adaptiveSize(0.81, 2.2);
      }

      p {
        display: inline-block;
        width: 90%;
      }
    }

    .about-products_decoration-part {
      position: relative;
      width: 45%;
      display: flex;
      align-items: end;
      margin-top: auto;

      .decoration-part_decoration-img {
        width: 100%;
        aspect-ratio: 1 / 1;
        position: relative;
      }

      .decoration-part_img-with-animation {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        top: 20%;
        left: 70%;

        img {
          position: relative;
          aspect-ratio: 1 / 1;

          &:nth-child(1) {
            width: clamp(25px, 15%, 90px);
            top: 0;
            transform: rotate(-10deg);
          }

          &:nth-child(2) {
            width: clamp(38px, 27%, 120px);
            top: 15%;
            left: 17%;
          }

          &:nth-child(3) {
            width: clamp(60px, 40%, 150px);
            top: 24%;
            transform: rotate(25deg);
          }
        }
      }
    }
  }

  .main_our-menu {
    background-color: #f1dbad;
    width: 100%;
    height: auto;
    padding: 70px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;

    .our-menu_decoration-block {
      display: flex;
      justify-content: space-between;
      position: relative;
      margin-bottom: 20px;

      img {
        width: 20%;
        max-width: 100px;
        min-width: 40px;
        height: auto;

        &:nth-child(odd) {
          position: relative;
          top: -7px;
          left: 0;
        }

        &:nth-child(even) {
          position: relative;
          top: 10px;
          left: 0;
        }
      }
    }

    .our-menu_text-part {
      display: inline-block;
      text-align: center;
      width: 90%;

      h2 {
        font-weight: 700;
        line-height: 1.5;
        color: var(--default-color-one);
      }
    }

    .our-menu_products-list {
      max-width: 1542px;
      width: 85%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      gap: adaptiveSize(1.56, 2.5);
      margin: adaptiveSize(1.25, 3.12);
      opacity: 0;
      transition: all 0.6s;

      &.show {
        opacity: 1;

        .products-list_product-card {
          transform: translateY(0);
          transition: all 0.7s;

          &:nth-child(2) {
            transition-delay: 0.1s;
          }

          &:nth-child(3) {
            transition-delay: 0.3s;
          }

          &:nth-child(4) {
            transition-delay: 0.5s;
          }
        }
      }

      .products-list_product-card {
        position: relative;
        transform: translateY(-180px);
        flex: 0 0 20%;
        min-width: 240px;
        @include productCard;
      }
    }
  }

  .main_our-advantages {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: adaptiveSize(1.56, 4) 0;

    .our-advantages_decoration-block {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;

      .question-png {
        position: relative;

        &:nth-child(1) {
          width: 10%;
          height: 100%;
          rotate: -50deg;
        }

        &:nth-child(3) {
          width: 12%;
          aspect-ratio: 1 / 1;
        }
      }

      .phg-cat-for-advantages {
        width: clamp(200px, 40%, 300px);
        height: 100%;
      }
    }

    h2 {
      font-weight: 600;
      color: var(--default-color-one);
    }

    .our-advantages_list-of-reasons {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
      gap: adaptiveSize(2.5, 3.75);
      width: 80%;
      height: auto;
      margin: adaptiveSize(1.56, 5) auto;

      .list-of-reasons_elem {
        text-align: center;

        .icon_reasons {
          width: clamp(100px, 25%, 180px);
        }

        h3 {
          font-weight: 600;
          margin-bottom: 15px;
        }
      }
    }
  }
}

footer {
  @include footerStyle;
}

@media (max-width: 1380px) {
  main {
    .main_present-block {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            .slide_text-part {
              width: 80%;
            }
          }
        }
      }
    }

    .main_about-products {
      .about-products_decoration-part {
        width: 40%;
      }
    }
  }
}

@media (max-width: 950px) {
  main {
    .main_present-block {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            padding: 0;

            .slide_text-part {
              margin: 0 auto;
              width: 90%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  main {
    .main_about-products {
      .about-products_decoration-part {
        display: none;
      }

      .about-products_text-part {
        width: 100%;
        border-radius: 0;
      }
    }

    .main_our-advantages {
      .our-advantages_list-of-reasons {
        .list-of-reasons_elem {
          .icon_reasons {
            width: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  main {
    .main_about-products {
      .about-products_text-part {
        width: 100%;
      }
    }
  }
}

@media (max-width: 440px) {
  main {
    .main_present-block {
      .swiper {
        .swiper-wrapper {
          .swiper-slide {
            .slide_text-part {
              width: 100%;
              height: 100%;
              border-radius: 0;
            }
          }
        }
      }
    }

    .main_about-products {
      .about-products_text-part {
        p {
          width: 100%;
        }
      }
    }

    .main_our-advantages {
      .our-advantages_list-of-reasons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .list-of-reasons_elem {
          width: 100%;
        }
      }
    }
  }
}