@use './mixins/mixins.scss' as *;

header {
  @include headerStyle;
}

main {
  background-color: #f1ebdc;

  .main_present-block {
    background-color: #f1dbad;
    width: 100vw;
    height: clamp(300px, 90vh, 800px);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .present-block_text-part {
      color: var(--default-color-one);
      position: relative;
      top: 0;
      left: 120px;
      width: 45%;

      h1 {
        font-size: calc(42px + 26 * (100vw / 1912));
        margin-bottom: 28px;
      }

      h2 {
        font-size: calc(28px + 12 * (100vw / 1912));
        line-height: 50px;
      }
    }

    .present-block_decorative-block {
      position: relative;

      .elipse-decoration-forMenu {
        position: relative;
        top: 120px;
        right: -200px;
        width: 100%;
        animation: rotateElipse 15s linear infinite;
      }

      .cat-for-menu-presentBlock {
        position: absolute;
        top: 26%;
        right: -90px;
        filter: drop-shadow(4px -10px 70px rgba(0, 0, 0, 0.2));
        width: 76%;
      }
    }
  }

  .main_product-assortment {
    padding: 8% 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
      font-size: calc(40px + 22 * (100vw / 1912));
      font-weight: 500;
      text-align: center;
      display: inline-block;
      color: var(--default-color-one);
    }

    .product-assortment_products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

      .products_product-card {
        @include productCard(0);
        margin-bottom: 6vh;
      }
    }
  }
}

footer {
  @include footerStyle;
}

@keyframes rotateElipse {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}