header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: clamp(60px, 9svw, 80px);
  background-color: #a0906b;
  z-index: 100;
}
header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 87%;
  height: 100%;
}
header .header-content .header-logotypy {
  width: clamp(45px, 4%, 60px);
  aspect-ratio: 1/1;
  display: block;
}
header .header-content .navigate-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: clamp(18px, 3vw, 50px);
}
header .header-content .navigate-links .navigate-links_item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  color: white;
  font-weight: 600;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
header .header-content .navigate-links .navigate-links_item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header .header-content .navigate-links .navigate-links_item p {
  -webkit-transition: top 0.4s;
  transition: top 0.4s;
  position: relative;
  top: 0;
  font-size: var(--fsz-for-link-text);
}
header .header-content .navigate-links .navigate-links_item:hover p {
  top: -5px;
}
header .header-content .navigate-links .navigate-links_item:hover::before {
  width: 100%;
}
header .header-content .header-content_social-media-list {
  width: 9.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(15px, 3vw, 25px);
}
header .header-content .header-content_social-media-list img {
  width: clamp(25px, 25%, 45px);
  aspect-ratio: 1/1;
}
header .header-content .header-content_menu-burger {
  display: none;
  width: 6%;
  min-width: 40px;
  cursor: pointer;
}
header .header-content .header-content_menu-burger span {
  position: relative;
  background-color: white;
  height: 2.5px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_menu-burger span:last-child {
  margin-bottom: 0;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(1) {
  rotate: 44deg;
  top: 15px;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
header .header-content .header-content_menu-burger.open-menu span:nth-child(3) {
  rotate: -44deg;
  bottom: 11px;
}
header .header-content .header-content_content-open-menu-burger {
  width: 100%;
  display: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #796a47;
  padding: clamp(25px, 5svh, 45px) 0;
  margin: 0 auto;
  z-index: 100;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .header-content_content-open-menu-burger.show {
  opacity: 1;
  visibility: visible;
}
header .header-content .social-media-list_logo {
  width: 20%;
  max-width: 90px;
  aspect-ratio: 1/1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
header .header-content .social-media-list_logo:hover {
  scale: 1.2;
  cursor: pointer;
}
@media (max-width: 740px) {
  header .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content .navigate-links {
    display: none;
  }
  header .header-content .header-content_social-media-list {
    display: none;
  }
  header .header-content .header-content_menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .header-content .header-content_content-open-menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: clamp(13px, 5vh, 30px);
  }
  header .header-content .header-content_content-open-menu-burger .navigate-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: clamp(18px, 2vw, 40px);
    text-align: center;
  }
  header .header-content .header-content_content-open-menu-burger .header-content_social-media-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.social-project {
  width: 85%;
  margin: 0 auto;
  padding: clamp(1.56rem, 19.968px + 1.56vw, 3.12rem) 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(1.87rem, 15.904px + 4.38vw, 6.25rem);
}
.social-project .social-project_present-text {
  width: 100%;
  display: inline-block;
}
.social-project .social-project_present-text h1 {
  color: var(--default-color-one);
  margin-bottom: clamp(0.93rem, 11.872px + 0.94vw, 1.87rem);
}
.social-project .social-project_info-card h2 {
  font-weight: 600;
  color: var(--default-color-one);
  margin-bottom: clamp(0.93rem, 11.872px + 0.94vw, 1.87rem);
}
.social-project .social-project_info-card ul li {
  font-size: clamp(0.9remrem, 11.68rempx + 0.85remvw, 1.75remrem);
  line-height: 1.5;
}
.social-project .social-project_supportive-words {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: clamp(1.75rem, 23.616px + 1.37vw, 3.12rem);
}
.social-project .social-project_supportive-words h4 {
  display: inline-block;
  width: 45%;
  line-height: 1.5;
}
.social-project .social-project_supportive-words h4 span {
  font-weight: 600;
  color: var(--default-color-one);
}
.social-project .social-project_supportive-words img {
  width: 45%;
  min-width: 200px;
  aspect-ratio: 1/1;
}

footer {
  width: 100vw;
  height: auto;
  background-color: #a0906b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: clamp(1.87rem, 19.904px + 3.13vw, 5rem);
  gap: clamp(1.56rem, 12.032px + 4.04vw, 5.6rem);
}
footer .footer_text-content {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(1.56rem, 15.968px + 2.81vw, 4.37rem);
}
footer .footer_text-content .text-content_links-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: clamp(0.93rem, 12.096px + 0.87vw, 1.8rem);
}
footer .footer_text-content .text-content_links-navigation a {
  position: relative;
  display: inline-block;
  top: 0;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
footer .footer_text-content .text-content_our-data {
  margin: 0;
  padding: 0;
}
footer .footer_text-content .text-content_our-data li {
  font-size: clamp(0.9rem, 12.48px + 0.6vw, 1.5rem);
  font-weight: 500;
  margin-bottom: 17px;
}
footer .footer_map {
  width: 45%;
  height: clamp(220px, 25vw, 350px);
  display: block;
  border-radius: 10px;
}
@media (max-width: 1132px) {
  footer {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 890px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  footer .footer_text-content {
    width: 88%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_map {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 640px) {
  .social-project .social-project_supportive-words {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .social-project .social-project_supportive-words p {
    width: 100%;
  }
}